<header class="row">
  <section class="medium-12 column page-title">
    <h1>Artists#index</h1>
  </section>
</header>

<main class="row">
  <section class="medium-12 columns">
    <p>Find me in app/views/artists/index.html.erb</p>

    <%= link_to('Hello 1', {:action => 'hello'}) %>
    <br>
    <%=
      link_to(
        'Hello 1 with params',
        {
          :action => 'hello',
          :id => 33,
          :page => 13,
          :test => true
        }
      )
    %>
</section>
</main>
