<!-- Render page title -->
<%=
  render 'application/page_title',
  title: 'Artists',
  leading_text: '',
  subtitle: ''
%>

<!-- Search Bar -->
<%= render(:partial => "application/search_form") %>

<!-- <p>Or you can complete the Music Search request  with a brief description of what you are looking for and we will respond with music suggestions.</p> -->

<!-- <section class="artist index wow fadeInUp"> -->
<section class="artist index">
  <ul>
    <% @artists.each do |artist| %>
    <li><%= link_to artist.name, artist %></li>
    <% end %>
  </ul>
</section>

<br>

<%= link_to 'New Artist', new_artist_path %>
