<!-- Render page title -->
<%=
  render 'application/page_title',
  title: 'Albums',
  leading_text: '',
  subtitle: ''
%>

<!-- Search Bar -->
<%= render(:partial => "application/search_form") %>

<!-- <p>Or you can complete the Music Search request  with a brief description of what you are looking for and we will respond with music suggestions.</p> -->

<!-- <section class="artist index wow fadeInUp"> -->
<div class="album index">

  <%
  @albums.each do |album|
    artist = Artist.find(album.artist_id)
  %>
    <section>
      <header>
        <h4>
          <%= link_to album.title, album %><br>
          <small><%= artist.name %></small>
        </h4>
      </header>
    </section>
  <% end %>

</div>

<br>

