body {
	position: relative;
	font-family: $primary-font;
	font-size: 16px;
	font-weight: 300;
	line-height: 30px;
	color: $body-color;

	@media screen and (max-width: 480px){
		font-size: 14px;
	}
}

.site-header {
  line-height: normal;
  position: relative;
  z-index: 99;

  .bottom-header {
    @include clearfix;
    background: $header-background-bottom;
    box-shadow: 0 1px 5px rgba(0,0,0,.3);
    height: 150px;

    // .branding {
    //  padding: 15px 0;
    // }
  }

  .top-header {
    background: $header-background-top;
    color: rgba(21, 37, 89, 0.85);
    padding: 20px 0;

    a {
      color: rgba(21, 37, 89, 0.85);
      text-decoration: none;
    }
  }
}

.member-navigation {
	.fa{margin-right: 5px}
	a{
		display: inline-block;
		margin-left:20px;
	}
}

.branding {
	@include clearfix;
  color: $primary-color;
  text-decoration: none;

  span {
    color: $secondary-color;
  }

	img.logo-icon {
		float: left;
		margin-right: 10px;
	}

	.site-title,
  .site-description {
    display: table;
  }

	.site-title {
		font-size: 1em;
		margin: 0;
		text-transform: uppercase;
		font-weight: 700;

		a {
			color: $primary-color;
			text-decoration: none;

			span{ color: $secondary-color }
		}

	}
	.site-description{
		@include em(12);
		margin: 0;
		// color
	}
}

