// Place all the styles related to the Genres controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.genres {
  &.boxed-content {

    p {
      font-size: .85em;
    }

    #filter-genres {
      font-size: 14px;

      .input-group {

        .checkbox {
          cursor: pointer;
          margin: 5px 0;

          input[type="checkbox"] {
            margin-left: -1px;
            margin-top: 9px;
          }
        }
      }

      .row {
        margin-bottom: 13px;
        max-height: 350px;
        min-height: 200px;
        overflow-y: scroll;
      }

      label {
        text-transform: capitalize;
      }
    }
  }
}
