// Place all the styles related to the Songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*===========================================
 * Importing CSS Libraries
 *===========================================*/
// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

@import
  'libs/settings',
  'libs/mixins',
  'libs/normalize',
  'libs/component',
  'libs/form',

  'layout/content',
  'layout/footer',
  'layout/header',
  'layout/main-nav',
  'layout/typography',

  'pages/news',
  'pages/page',

  'libs/search-bar',
  'libs/widgets';

.song.index {
  .pagination {
    padding: 0 13rem;
      // text-align:  center;
  }
}

.song-list {
  header {
    margin-top: 13px;
  }
}

.edit_song {
  #clear_art {
    padding-right: 5px;
    vertical-align:  text-top;
    width: auto;
  }
}

.current-file {
  font-size: .85em;
  color: $secondary-color;
}

.edit_song {
  .genres,
  .moods,
  .themes {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    columns-count: 4;

    .checkbox,
    .checkbox-inline {
      input[type="checkbox"] {
        margin-left: 0;
        margin-top: 9px;
      }
    }
  }
}
