
<% if !flash[:notice].blank? %>
  <div class="fullwidth-block">
    <div div-alert class="container medium-11 medium-centered columns text-centered alert-box success radius">
      <%= flash[:notice] %>
    </div>
  </div>
<% end %>
