<%
# Possible flash messages...
# flash [:success] = 'This is a success'
# flash [:notice] = 'This is a notice'
# flash [:warning] = 'This is a warning'
# flash [:alert] = 'This is a alert'
 %>

<% if flash[:alert].present? %>
  <div class="fullwidth-block">
    <div div-alert class="container alert alert-danger" role="alert">
      <h4><i class="fa fa-exclamation"></i><%= flash[:alert] %></h4>
    </div>
  </div>
<% end %>

<% if flash[:notice].present? %>
  <div class="fullwidth-block">
    <div div-alert class="container alert alert-info" role="alert">
      <h4><i class="fa fa-bolt"></i><%= flash[:notice] %></h4>
    </div>
  </div>
<% end %>

<% if flash[:success].present? %>
  <div class="fullwidth-block">
    <div div-alert class="container alert alert-success" role="alert">
      <h4><i class="fa fa-thumbs-o-up"></i><%= flash[:success] %></h4>
    </div>
  </div>
<% end %>

<% if flash[:warning].present? %>
  <div class="fullwidth-block">
    <div div-alert class="container alert alert-warning" role="alert">
      <h4><i class="fa fa-exclamation"></i><%= flash[:warning] %></h4>
    </div>
  </div>
<% end %>
