<header>
  <h1 class="page-title"><%= title %>
    <% if subtitle != '' %>
      <small class="subheader"><%= subtitle %></small>
    <% end %>
  </h1>

  <% if leading_text %>
    <p class="leading muted"><%= leading_text %></p>
  <% end %>
</header>
