<%
# Reference: http://www.korenlc.com/creating-a-simple-search-in-rails-4/
%>

<section id="global-search">

  <%= form_tag({controller: "songs", action: "index"}, :method => "get", id: "search-form") do %>
  <%= text_field_tag :search, params[:search], placeholder: "Search Songs" %>
  <%= submit_tag "Search" %>
  <% end %>

</section>
