<div class="fullwidth-block">
  <h1>Welcome to the World of Foreigner Music</h1>

  <p class="leading muted">Please feel free to browse for ideas. No sign in is needed. You can search the entire catalog for:</p>

  <ul>
    <li>Melodic Moods</li>
    <li>Lyrical Themes</li>
    <li>Song Title</li>
    <li>Artist Name</li>
  </ul>

  <p>Or you can complete the Music Search request with a brief description of what you are looking for and we will respond with music suggestions.</p>

  <!-- Search Bar -->
  <div class="search-bar">
    <%= render(:partial => "application/search_form") %>
  </div>

  <h3>All music is pre-cleared and available for immediate approval.</h3>

</div>
