<div class="fullwidth-block">
  <h1>Contact Us</h1>

  <!-- Search Bar -->
<!--   <div class="search-bar">
    <%= render(:partial => "application/search_form") %>
  </div> -->

  <section class="contact">
    <table class="table table-hover table-striped table-condensed">
    <thead>
      <tr>
        <th>Location</th>
        <th>Contact</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td><strong>USA, Canada, France, Germany,  UK &amp; Eire</strong></td>
        <td>
          <p>Michele Bourgerie<br>
          Licensing@Somerset Songs.com<br>
          Somerset Songs Publishing, Inc.<br>
          214 East 70th Street<br>
          New York, New York 10021<br>
          (212) 717-4473</p>
        </td>
      </tr>
      <tr>
        <td><strong>Argentina, Chile, Bolivia, Paraguay, Uruguay</strong></td>
        <td>
          <p>John Nathan<br>
          jnathan@omsasongs.com<br>
          Organizacion Musical Sudamericana (OMSA) SRL<br>
          Larrea 1106 (5A)<br>
          1117 Buenos Aires<br>
          (54-11) 4824-5577</p>
        </td>
      </tr>
      <tr>
        <td><strong>Brazil</strong></td>
        <td>
          <p>Simone de Aquino<br>
          simone@fermatadobrasil.com.br<br>
          Fermata Do Brasil Ltda.<br>
          Rua da Consolacao, 2697 <br>
          Sao Paulo SP Brasil<br>
          (55-11) 3060 8614<br>
          www.fermatadobrasil.com.br </p>
        </td>
      </tr>
      <tr>
        <td><strong>Australia, New Zealand </strong></td>
        <td>
          <p>Angela Blackhall<br>
            Angela.Blackhall@umusic.com<br>
            Universal Music Publishing Group - Australia<br>
            150 William Street<br>
            Woolloomooloo, NSW 2011<br>
            +61 (0) 2 9207 0500</p>
          </td>
      </tr>
      <tr>
        <td><strong>Benelux</strong></td>
        <td>
          <p>Jitze de Raaff<br>
          Jitze.deRaaff@ctm.nl<br>
          CTM Publishing BV<br>
          Emmastraat 21 - 1211 NE Hilversum<br>
          The Netherlands<br>
          +31 35 647 4040 <br>
          www.ctm.nl</p>
        </td>
      </tr>
      <tr>
        <td><strong>Italy</strong></td>
        <td>
          <p>Warner Chappell Music Italiana S.r.l.<br>
          P.za Della Repubblica, 14/16<br>
          20124 Milano<br>
          Italy<br>
          0039-02-637831</p>
        </td>
      </tr>
      <tr>
        <td><strong>Japan</strong></td>
        <td>
          <p>Manabu Kuretani<br>
          kuretani@fujipacific.co.jp<br>
          FujiPacific Music Inc.<br>
          Tokyo Tatemono Aoyama Bldg., 6F 3-3-5<br>
          Kita-Aoyama Minato-ku, Tokyo 107-0061<br>
          Japan<br>
          813-3796-8603</p>
        </td>
      </tr>
      <tr>
        <td><strong>Scandinavia</strong></td>
        <td>
          <p>Warner/Chappell Music Scndinavia AB<br>
          Pipersgatan 27<br>
          S-104 22 Stockholm, Sweden<br>
          +46 8 622 09 00<br>
          www.warnerchappell.se</p>
        </td>
      </tr>
      <tr>
        <td><strong>South Africa</strong></td>
        <td>
          <p>Geoff Paynter<br>
          geoff@geoffpaymusic.co.za<br>
          Geoff Paynter Music Publishing C.C.</p>
        </td>
      </tr>
      <tr>
        <td><strong>SouthEast Asia</strong></td>
        <td>
          <p>Ivan Hui<br>
          ivan@fujipacific-sea.com<br>
          FujiPacific Music (S.E. Asia) Ltd.<br>
          10/F Po Wah Commercial Center<br>
          226 Hennessy Road<br>
          Wanchai, Hong Kong<br>
          (852) 27892236</p>
        </td>
      </tr>
      </tbody>
    </table>
  </section>

  <h3>All music is pre-cleared and available for immediate approval.</h3>

</div>
