<%
  @message = Message.new
  @form_class = 'solicit'
  @form_id = 'form-solicit'
%>
<div class="fullwidth-block">
  <h1>Welcome to the World of Foreigner</h1>

  <p class="leading muted">We can assist you in making a selection for your project. Feel free to complete the music search request with a brief description of your project and we will respond with song suggestions.</p>

</div>

<div class="fullwidth-block">
  <%= render 'messages/form' %>
</div>
